schema.xml

<?xml version="1.0"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace=""
xmlns="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified">

	<xs:complexType name="DepartementType">
		<xs:complexType name ="scientific_product">
			<xs:complexType name="scientific_book">
				<xs:sequence>
					<xs:complexType name="Title" use="required">
						<!-- title = list of strings, this allows to use spaces-->
						<xs:list itemType="xs:string"/> 
					</xs:complexType>
					<xs:choice>
						<xs:complexType name="Authors" use="required">
							<!-- list of authors-->
							<xs:list itemType="xs:string"/>
						</xs:complexType>
						<xs:complexType name="Editors" use="required">
							<!-- list of editors-->
							<xs:list itemType="xs:string"/>
						</xs:complexType>
					</xs:choice>
					<xs:complexType name="Publishers" use="required">
						<!-- list of publishers-->
						<xs:list itemType="xs:string"/>
					</xs:complexType>
					<xs:element name="Publication_year" type="xs:gYear" use="required"/>
					<xs:complexType name="Abstract"/>
						<xs:list itemType="xs:string"/>
					</xs:complexType>
					<xs:element name="Edition" type="xs:date"/>
					<xs:element name="ISBN" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="scientific_journal">
				<sequence>
					<xs:complexType name="Title" use=“required”>
						<!-- title = list of strings, this allows to use spaces-->
						<xs:list itemType="xs:string"/>
					</xs:complexType>
					<xs:element name="Volume" type="xs:int" use="required"/>
					<xs:element name="Number" type="xs:int" use="required"/>
					<xs:choice>
						<!-- list of authors or editors but not both-->
						<xs:complexType name="Authors" use="required">
							<!-- list of authors-->
							<xs:list itemType="xs:string"/>
						</xs:complexType>
						<xs:complexType name="Editors" use="required">
							<!-- list of editors-->
							<xs:list itemType="xs:string"/>
						</xs:complexType>
					</xs:choice>
					<xs:element name="Publication_year" type="xs:gYear" use="required"/>
					<xs:complexType name="Publishers" use="optional">
						<!-- list of publishers-->
						<xs:list itemType="xs:string"/>
					</xs:complexType>
					<xs:element name="Impact" type="xs:string" use="optional"/>
						<!-- Add year of impact if impact present -->
						
					<xs:complexType name="Table_of_contents" use="required">
						<xs:list itemType=""/>
						<!-- must still create an itemType xs:journal with title,
list of authors, and start page, end page -->
					</xs:complexType>
				</sequence>
			</xs:complexType>
		</xs:complexType>
		<xs:complexType name="leisure_product">
			<xs:complexType name="leisure_book">
				<xs:sequence>
					<xs:element name="Title" use="required"/>
					<xs:element name="Author" type="string" minOccurs="1" maxOccurs="unbounded" use="required"/>
					<xs:element name="Publisher" use="required"/>
					<xs:element name="Publication_year" type="xs:gYear" use="required"/>
					<xs:element name="Genre" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="thriller"/>
						    		<xs:enumeration value="horror"/>
						      		<xs:enumeration value="sci/fi"/>
						      		<xs:enumeration value="romance"/>
						    		<xs:enumeration value="literature"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:element>
					<xs:element name="Edition" type="xs:date" use="optional"/>
					<xs:element name="Pages_number" type="xs:integer" use="optional"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="leisure_periodical">
				<xs:sequence>
					<xs:element name="Title" use="required"/>
					<xs:element name="Price" type="xs:integer" use="required"/>
					<xs:element name="Publisher" use="required"/>
				</xs:sequence>
			</xs:complexType>
		</xs:complexType>
	</xs:complexType>

</xs:schema> 
